:root {
  @apply font-mono bg-black text-gray-400;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg
}

.bord {
  --at-apply: "b-1 b-current focus:text-white outline-none transition-colors";
}
